In [1]:
import pandas as pd

# Read the CATH domain list file
cath_df = pd.read_csv(
    "data/cath-domain-list-S100-v4_2_0.txt",
    comment="#",
    delim_whitespace=True,
    names=[
        "domain_id",
        "class_id",
        "arch_id",
        "top_id",
        "hom_id",
        "S35",
        "S60",
        "S95",
        "S100",
        "S100_count",
        "length",
        "resolution",
    ],
)

/tmp/ipykernel_998472/3658483688.py:4: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  cath_df = pd.read_csv(

In [2]:
cath_df

,domain_id,class_id,arch_id,top_id,hom_id,S35,S60,S95,S100,S100_count,length,resolution
0,1oaiA00,1,10,8,10,1,1,1,1,1,59,1.00
1,3frhA01,1,10,8,10,2,1,1,1,1,58,1.20
2,3b89A01,1,10,8,10,2,1,1,2,1,54,2.60
3,4g3oA00,1,10,8,10,3,1,1,1,1,53,1.60
4,4heoA00,1,10,8,10,4,1,1,1,1,53,1.65
...,...,...,...,...,...,...,...,...,...,...,...,...
111971,1xutA01,4,10,1290,10,1,1,1,1,1,35,999.00
111972,2kn1A00,4,10,1290,10,2,1,1,1,1,49,999.00
111973,1vprA01,4,10,1300,10,1,1,1,1,1,107,1.80
111974,1vprA02,4,10,1310,10,1,1,1,1,1,83,1.80
111975,1jyoE00,4,10,1330,10,1,1,1,1,1,102,1.90

In [3]:
mdcath_domains = set()
with open("data/mdCATH_sequence_AA.fasta") as f:
    for line in f:
        if line.startswith(">"):
            domain_id = line[1:].split()[0]
            mdcath_domains.add(domain_id)

print(f"Number of domains in mdCATH: {len(mdcath_domains)}")

Number of domains in mdCATH: 5398

In [4]:
len(mdcath_domains)

5398

In [5]:
cath_df = cath_df[cath_df["domain_id"].isin(mdcath_domains)]

cath_df.loc[:, "cath_code"] = cath_df.apply(
    lambda x: f"{x['class_id']}.{x['arch_id']}.{x['top_id']}.{x['hom_id']}", axis=1
)

display(cath_df)

/tmp/ipykernel_998472/2174898898.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cath_df.loc[:, "cath_code"] = cath_df.apply(

,domain_id,class_id,arch_id,top_id,hom_id,S35,S60,S95,S100,S100_count,length,resolution,cath_code
2,3b89A01,1,10,8,10,2,1,1,2,1,54,2.60,1.10.8.10
16,2ltuA00,1,10,8,10,7,2,1,1,1,62,999.00,1.10.8.10
17,1zv1A00,1,10,8,10,8,1,1,1,1,59,1.60,1.10.8.10
33,3lcuA01,1,10,8,10,14,1,1,2,1,57,2.10,1.10.8.10
76,4dbgB02,1,10,8,10,33,1,1,1,1,61,2.71,1.10.8.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
111952,2jodA01,4,10,1240,10,6,2,1,1,1,87,999.00,4.10.1240.10
111953,4dlqA01,4,10,1240,10,7,1,1,1,1,60,1.85,4.10.1240.10
111954,4dloB01,4,10,1240,10,8,1,1,1,1,66,2.30,4.10.1240.10
111955,3n93B04,4,10,1240,10,9,1,1,1,1,68,2.50,4.10.1240.10
111975,1jyoE00,4,10,1330,10,1,1,1,1,1,102,1.90,4.10.1330.10

In [6]:
cath_df[["domain_id", "cath_code"]].to_csv(
    "data/mdCATH_lookup.fix.tsv", sep="\t", index=False
)